{% load tetra %}
<{{ tag }} {% ... attrs class=default_class %}
  {% if htmx %}
    hx-{{ htmx|lower }}="{{ url }}"{% if dialog %} hx-target="#{{ target }}"{% elif target %} hx-target="{{ target }}"{% endif %}{% if select %} hx-select="{{ select }}"{% endif %}
    hx-swap="innerHTML"
    {% if tag == "a" %}href="#"{% endif %}
  {% else %}
    {% if tag == "a" %}href="{{ url }}"{% endif %}
  {% endif %}
>
  {% if icon %}
    <i class="ti ti-{{ icon }} {{ icon_fs }}"></i>
  {% endif %}
  {% slot default %}{% endslot %}
</{{ tag }}>
