{% load markdownify i18n %}
<{{ tag }} class="card mb-2"{% if tag == "form" %} method="post" action="."{% endif %}>
    {% if blocks.title or blocks.actions %}
    <div class="card-header">
        <h3 class="card-title">
            {% block title %}{% endblock %}
        </h3>
        {% block header-between %}{% endblock %}
        <div class="card-actions">
            {% block actions %}{% endblock %}
        </div>
    </div>
    {% endif %}
    {% block card-content %}
    <div class="card-body">
        {% block default %}
        {% endblock %}
    </div>
    {% endblock %}
    {% if blocks.footer %}
      <div class="card-footer">
        {% block footer %}{% endblock %}
      </div>
    {% elif tag == "form" %}
      <div class="button-holder">
        <button class="btn btn-primary" type="submit">{% translate 'Submit' %}</button>
      </div>
    {% endif %}
</{{ tag }}>