{% load markdownify i18n %}
<{{ tag }} class="card mb-2"{% if tag == "form" %} method="post" action="."{% endif %}>
    {% if blocks.title or blocks.actions %}
    <div class="card-header">
        <h3 class="card-title">
            {% slot title %}{% endslot %}
        </h3>
        {% slot header-between %}{% endslot %}
        <div class="card-actions">
            {% slot actions %}{% endslot %}
        </div>
    </div>
    {% endif %}
    {% slot card-content %}
    <div class="card-body">
        {% slot default %}{% endslot %}
    </div>
    {% endslot %}
    {% if slots.footer %}
      <div class="card-footer">
        {% slot footer %}{% endslot %}
      </div>
    {% elif tag == "form" %}
      <div class="button-holder">
        <button class="btn btn-primary" type="submit">{% translate 'Submit' %}</button>
      </div>
    {% endif %}
</{{ tag }}>