{% load i18n gdaps crispy_forms_tags conjunto %}
{# Renders a settings section with elements provided by plugins using the ISettingsSubSection interface #}

{% if elements %}

  {# this only works because SubSections only have one element in the "elements" interfaces list. #}
  {% for _interface_name,plugin_elements in elements.items %}
    {% for plugin_element in plugin_elements %}
      {% render_element plugin_element %}
    {% endfor %}
  {% endfor %}

{% else %}
  <!-- No content. -->
{% endif %}
