{% load i18n conjunto %}
<div class="toast fade align-items-center border-0 {{ tags }}{% if message %} show{% endif %}"
     role="alert" aria-live="assertive" aria-atomic="true"
     {% if dismissible %}data-bs-autohide="false"{% endif %}
>
  <div class="d-flex">
    <div data-toast-body class="toast-body {{ tags }}">{{ message }}</div>
    {% if dismissible %}
      <button type="button" class="btn-close btn-close ms-2 me-2 m-auto"
              data-bs-dismiss="toast" aria-label="{% translate 'Close' %}"></button>
    {% endif %}
  </div>
</div>
