{% load i18n %}
<!-- Modal -->
<div class="modal" tabindex="-1" {% ... id=id %}
    {% if static_backdrop %}
     data-bs-backdrop="static" data-bs-keyboard="false"
    {% endif %}
>
  <div class="modal-dialog modal-dialog-centered{% if scrollable %} modal-dialog-scrollable{% endif %}"{% if title %} aria-labelledby="modal-label-{{ id }}" aria-hidden="true"{% endif %}
    @keyup.enter="submit();"
  >
    <div class="modal-content">
      <div class="modal-header">
        {% if title %}<h5 id="modal-label-{{ id }}" class="modal-title">{{ title }}</h5>{% endif %}
        <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label={% translate "Close" %}></button>
      </div>
      <div class="modal-body">
        {% slot default %}{% endslot %}
      </div>

      <div class="modal-footer">
        {% slot buttons %}
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            {% slot cancel_button_title %}{% translate "Cancel" %}{% endslot %}
          </button>
          <button type="button" id="{{ id }}_ok_button" class="btn btn-primary" data-bs-toggle="modal"
                  @click="submit()">
            {% slot submit_button_title %}
              {% translate "OK" %}
            {% endslot %}
          </button>
        {% endslot %}
      </div>
    </div>
  </div>
</div>