{% load static i18n statici18n %}
<!DOCTYPE html>
{#This is a generic html file for your application. You can extend it, or copy it and sort out the good parts ;-)#}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

  <title>{% block title %}{% endblock %}</title>

  <link rel="manifest" href="/manifest.json">
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" >
  {% block extra-css %}{% endblock %}

  {% block extra-head %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">

{% block body %}
  {% csrf_token %}

  {% block pre-header %}{% endblock %}

  {% block header %}{% endblock %}

  <div class="page">
    {% block page %}
      {% block sidebar-left %}{% endblock %}

      <div class="page-wrapper">

        <!-- page header -->
        <div class="page-header d-print-none">
          {% block page-header %} {#  raw page header, without gutter #}
            <div class="container-{{ tabler.contcainer_breakpoint|default:"xl" }}">
              {% block page-header-content %}
                <div class="row g-2 align-items-center">
                  <div class="col">
                    <!-- Page pre-title -->
                    <div class="page-pretitle">{% block page-pretitle %}{% endblock %}</div>
                    <h2 class="page-title">{% block page-title %}{% endblock %}</h2>
                  </div>
                  <!-- Page title actions -->
                  <div class="col-auto ms-auto d-print-none">
                    <div class="btn-list">
                      {% block page-title-actions %}
                        {#<a href="#" class="btn btn-primary btn-5 d-none d-sm-inline-block">#}
                        {#  <i class="ti ti-plus"></i>#}
                        {#</a>#}
                      {% endblock %}
                    </div>
                  </div>
                </div>
              {% endblock %} {#  convenience page header for content, with gutter #}
            </div>
          {% endblock %}
        </div>

        <!-- page body -->
        <div class="page-body" id="page-body">
          {% block page-body %}
            <div class="container-{{ tabler.container_breakpoint|default:"xl" }}">
              {% block canvas %}
                <div id="canvas">
                  {% block content %}{% endblock %}
                </div>
              {% endblock %}
            </div>
          {% endblock %}
        </div>

        {# FIXME: make footer consistent with page-body and page-header: element outside block? #}
        <!-- Page footer -->
        {% block footer %}
          <footer class="footer footer-transparent d-print-none">
            <div class="container-xl">

              <div class="row text-center align-items-center flex-row-reverse">
                <div class="col-lg-auto ms-lg-auto">
                  {% block footer-content %}
                    <ul class="list-inline list-inline-dots mb-0">
                      {# TODO: remove demo #}
                      {% for item in menus.footer %}
                        <li class="list-inline-item"><a href="{{ item.url }}" target="_blank" class="link-secondary" rel="noopener">{{ item.title }}</a></li>
                      {% endfor %}
                      <li class="list-inline-item">
                        {# <a href="{{ site.github-sponsors-url }}" target="_blank" class="link-secondary" rel="noopener">#}
                        {#   <i class="ti ti-heart icon-filled text-pink"></i>#}
                        {#   Sponsor#}
                        {# </a>#}
                      </li>
                    </ul>
                  {% endblock %}
                </div>
                <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                  <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item">
                      {% block copyright %}
                        Copyright © {% now "Y" %}
                        <a href="{{ site.base }}" class="link-secondary">{{ globals.project_title }}</a>.
                        {% translate 'All rights reserved.' %}
                      {% endblock %}
                    </li>
                    {#            <li class="list-inline-item">#}
                    {#              <a href="./changelog.html" class="link-secondary" rel="noopener">#}
                    {#                v1.0.0-beta20#}
                    {#              </a>#}
                    {#            </li>#}
                  </ul>
                </div>
              </div>
            </div>
          </footer>
          <!-- end conjunto footer -->
        {% endblock %}
      </div>
    {% endblock %}
  </div>
{% endblock %}

<script>const globals = {LANGUAGE_CODE: "{{ LANGUAGE_CODE }}"};</script>
<!-- Current language: {{ LANGUAGE_CODE }} -->
<script type="application/javascript" src="{% statici18n LANGUAGE_CODE %}"></script>
{#<script type="application/javascript" src="{% get_static_prefix %}jsi18n/{{ LANGUAGE_CODE }}/djangojs.js"></script>#}

{% block scripts %}{% endblock scripts %}
{% block modal %}{% endblock modal %}
{% block toasts %}{% endblock toasts %}
</body>
</html>
