
/*https://github.com/tabler/tabler/issues/1836*/
/* Don't show underlines on list item action links */

a.list-group-item-actions:hover {
  text-decoration:none;
}


/* HTMX busy indicators */
.busy-indicator {
  display: none;
}
.htmx-request .busy-indicator {
  display: inline;
}
.htmx-request.busy-indicator {
  display: inline;
}