
/*https://github.com/tabler/tabler/issues/1836*/
/* Don't show underlines on list item action links */

a.list-group-item-actions:hover {
    text-decoration:none;
}


/* busy indicators */
.spinner-border {
    display: none;
    /*opacity: 0;*/
    /*transition: opacity 500ms ease-in;*/
}
.tetra-request + .spinner-border,
.tetra-request.spinner-border {
    display: inline-block;
    /*opacity: 1;*/
}